$title-fonts:'Anton', sans-serif;
$main-fonts:'Cabin', sans-serif;

$back-color: #232225;

$title-color: #E0C193;
$text-color: #F3EEE6;
$menu-color: #BCBCBC;
$btn-text: #FFFFFF;


$button-color: #B58F66;
$button-hover: #D8A975;